@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Questrial');

body {
    background-image: url("../images/micro.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 4em;
    color: white;
}

ul {
    font-family: 'Questrial', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    font-size: 2em;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}